@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --playground: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
    --playground: #212121;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* background: blue; */
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #555555; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777777;
}

/* * {
  outline: 1px solid red;
} */
